<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="unity-issample" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="ES.DaoFactory" type="ES.Framework.Db.Configuration.DaoFactoryProviderSection, ES.Framework" />
  </configSections>
  
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ES.ISSample.Web-20131220035709.mdf;Initial Catalog=aspnet-ES.ISSample.Web-20131220035709;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    
    <!-- For DB use uncomment following-->
    <add name="StratusOrg" connectionString="data source=.\sqlexpress;initial catalog= {0};integrated security=true;persist security info=true;" />
    <!--<add name="StratusPMS" connectionString="data source=shaggy\sqlexpress;initial catalog=VisionWebSecurity;integrated security=yes;" />-->
  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UnitySectionName" value="unity-issample" />
    <!-- For DB use uncomment following-->
    <add key="NHInterceptor" value="ES.Framework.NHibernate.Interceptors.AuditInterceptor, ES.Framework.NHibernate" />
    
    <add key="FormattedPatientPortalRouterUrl" value="https://intpatient.visionweb.com?nekot={0}" />
    <add key="ReportsUrl" value="/Reports/ReportList.aspx" />
    <add key="HelpUrl" value="/Help/Default.htm" />
    <add key="PMSLoginUrl" value="http://localhost:9010/" />
    <add key="PMSLogoffUrl" value="http://localhost:9010/login/logoff" />
    <add key="SessionManagmentUrl" value="/Login/ReportLastUserActivity" />
    <add key="VitalHealthSessionManagmentUrl" value="" />
    <add key="Organization.DefaultCatalog" value="ISSample" />
    <add key="Framework.DefaultCatalog" value="ISSample" />
    <add key="UseNHFilter" value="true" />

    <add key="SessionAutoLockTimeoutMinutes" value="30" />
    
  </appSettings>
  
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <unity-issample xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ResourceProvider" type="ES.Resources.Common.IResourceProvider, ES.Resources.Common" />
    <alias alias="ControllerRepository" type="ES.Framework.Web.Mvc.IControllerRepository, ES.Framework.Web.Mvc" />
    <alias alias="DataService" type="ES.ISSample.Presentation.IDataService, ES.ISSample.Presentation" />
    <alias alias="AuthenticationProvider" type="ES.Framework.Presentation.AuthenticationProvider, ES.Framework" />
    <alias alias="IdentityProvider" type="ES.Saml.IIdentityProvider, ES.Saml" />
    <container name="ControllerRepository">
      <register type="ControllerRepository" mapTo="ES.ISSample.Presentation.DefaultControllerRepository, ES.ISSample.Presentation" />
    </container>
    <container name="Services">
      <register type="DataService" mapTo="ES.ISSample.Presentation.DataService, ES.ISSample.Presentation" />
      <!--<register type="AuthenticationProvider" mapTo="ES.ISSample.Presentation.PMSWebAuthenticationProvider, ES.ISSample.Presentation" />-->
      <!--<register type="ES.Framework.Services.TransactionManager, ES.Framework.Services" mapTo="ES.ISSample.TestDao.TestHibernateTransactionManager, ES.ISSample.TestDao">
        <lifetime type="singleton" />
      </register>-->
      
      
      <!-- For DB use uncomment following-->
      <!--<register type="ES.Framework.Services.TransactionManager, ES.Framework.Services" mapTo="ES.Framework.NHibernate.HibernateTransactionManager, ES.Framework.NHibernate" >
        <lifetime type="singleton" />
      </register>-->
    </container>
    <!--<container name="ES.Resources.Common">
      <register type="ResourceProvider" mapTo="ES.Resources.Resources, ES.Resources" />
    </container>-->
    
    <container name="ES.ISSample">
      <!--<register type="ES.ISSample.Common.IPatientExternalIntegration, ES.ISSample.Common" mapTo="ES.ISSample.TestDao.TestPatientExternalIntegration, ES.ISSample.TestDao">
        <lifetime type="singleton" />
      </register>
      <register type="ES.ISSample.Common.IAppointmentExternalIntegration, ES.ISSample.Common" mapTo="ES.ISSample.TestDao.TestAppointmentExternalIntegration, ES.ISSample.TestDao">
        <lifetime type="singleton" />
      </register>
      <register type="ES.ISSample.Common.IOrganizationExternalIntegration, ES.ISSample.Common" mapTo="ES.ISSample.TestDao.TestExternalOrganizationIntegration, ES.ISSample.TestDao">
        <lifetime type="singleton" />
      </register>
      <register type="ES.ISSample.Shared.Data.IIdentityProvider, ES.ISSample.Shared.Data" mapTo="ES.ISSample.Shared.Data.WcfIdentityProvider, ES.ISSample.Shared.Data">
        <lifetime type="singleton" />
      </register>
      <register type="ES.ISSample.Common.IInsuranceExternalIntegration, ES.ISSample.Common, Version=1.0.0.0, Culture=neutral" mapTo="ES.ISSample.TestDao.TestInsuranceExternalIntegration, ES.ISSample.TestDao, Version=1.0.0.0, Culture=neutral"></register>
      <register type="ES.ISSample.Common.IClaimExternalIntegration, ES.ISSample.Common" mapTo="ES.ISSample.ExternalIntegration.ClaimIntegration, ES.ISSample.ExternalIntegration"></register>
      <register type="ES.ISSample.Common.IOrderServiceExternalIntegration, ES.ISSample.Common" mapTo="ES.ISSample.Product.ExternalIntegration.OrderServiceExternalIntegration, ES.ISSample.Product.ExternalIntegration">
        <lifetime type="singleton" />
      </register>
      <register type="ES.ISSample.Common.IIntegrationServiceIntegration, ES.ISSample.Common" mapTo="ES.ISSample.TestDao.TestIntegrationServiceIntegration, ES.ISSample.TestDao">
        <lifetime type="singleton" />
      </register>
      <register type="ES.ISSample.DataTransfer.Transformation.IDataTransferExternalIntegration, ES.ISSample.DataTransfer" mapTo="ES.ISSample.DataTransfer.Transformation.DataTransferExternalIntegration, ES.ISSample.DataTransfer"></register>
      <register type="ES.ISSample.Common.IEmailServiceExternalIntegration, ES.ISSample.Common" mapTo="ES.ISSample.TestDao.TestEmailServiceExternalIntegration, ES.ISSample.TestDao">
        <lifetime type="singleton" />
      </register>
      <register type="ES.ISSample.Common.ICatalogProcessorExternalIntegration, ES.ISSample.Common" mapTo="ES.ISSample.Product.ExternalIntegration.CatalogProcessorExternalIntegration, ES.ISSample.Product.ExternalIntegration">
        <lifetime type="singleton" />
      </register>
      <register type="ES.ISSample.Common.IUserExternalIntegration, ES.ISSample.Common" mapTo="ES.ISSample.TestDao.TestUserExternalIntegration, ES.ISSample.TestDao">
        <lifetime type="singleton" />
      </register>
      <register type="ES.ISSample.Common.ITraceProcessor, ES.ISSample.Common" mapTo="ES.ISSample.TestDao.TestTraceProcessorExternalIntegration, ES.ISSample.TestDao">
        <lifetime type="singleton" />
      </register>-->
    </container>
    
    <container name="IdentityProvider">
      <register type="ES.Saml.IIdentityProvider, ES.Saml" mapTo="ES.Saml.ComponentProIdentityProvider, ES.Saml"></register>
    </container>
    
    <!--<container name="Framework.NHibernate.Container">
      <register type="ES.Framework.NHibernate.IExternalConfiguration, ES.Framework.NHibernate" mapTo="ES.ISSample.Web.FluentConfiguration, ES.ISSample.Web" />
    </container>-->
  </unity-issample>

  <ES.DaoFactory defaultProvider="DefaultProvider">
    <providers>
      <clear />
      <!--<add name="TestProvider" type="ES.Framework.Db.GenericDaoFactory, ES.Framework">
        <factoryTypes>
          --><!--<add name="Resources" assembly="ES.Resources.Test.Dao" />
          <add name="Options" assembly="ES.Options.TestDao" />--><!--
          <add name="ISSample" assembly="ES.ISSample.TestDao" />
          --><!--<add name="Provisioning" assembly="ES.ISSample.TestDao" />--><!--
        </factoryTypes>
      </add>-->
      
      
      <!-- Use following when want to connect to database. And set defaultProvide="DefaultProvider" -->      
      <add name="DefaultProvider" type="ES.Framework.Db.GenericDaoFactory, ES.Framework">
        <factoryTypes>
          <!--<add name="Resources" assembly="ES.Resources.Test.Dao" />
          <add name="Options" assembly="ES.Options.TestDao" />
          <add name="Security" assembly="ES.Security.Data" />-->
          <add name="ISSample" assembly="ES.ISSample.Data" />
          <!--<add name="Provisioning" assembly="ES.ISSample.Provisioning.Data" />
          <add name="Crypto" assembly="ES.Application.Common.Data" />-->
        </factoryTypes>
      </add>
    </providers>
  </ES.DaoFactory>
  
</configuration>