<section class="mainbar" data-ng-controller="product as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}">
                        <a href="">Edit</a>
                    </div>
                    <div class="widget-content text-center text-info">
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>SKU</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="p in vm.products">
                                    <td>{{p.Name}}</td>
                                    <td>{{p.SKU}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
</section>
